/*------------------------------------------------------------------
Main Style Stylesheet
Project:	Quentin Parrot Portfolio
Version:	1.0
Primary use:	Business
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
BODY 
	+ GLOBAL STYLE 
	+ HEADER
		++ NAVBAR
	+ SHOWCASE
	+ PORTFOLIO
		++ POP-UP
	+ CONTACT
	+ FOOTER
-------------------------------------------------------------------*/

/* ====================================
 * GLOBAL STYLE:
 * ================================= */
*
{
	font-family: 'Lato', sans-serif;
}

body
{
	padding: 0;
	margin: 0;	
	line-height: 1;
}

ul
{
	margin: 1rem 1rem;
}

h1, p
{
	color: #eeeeee;
}

a
{
	color: #37d11d;
	text-decoration:none;
	transition: all 0.3s ease-in-out;
}

a:hover
{
	color: #ffffff;
	text-decoration: none;
}

a:focus {
	color: white;
}

/* ====================================
 * HEADER:
 * ================================= */

header
{
	background: #222222;
	width: 100%;
	position:fixed;
	display: grid;
	grid-template-columns: 1fr 3fr;
	box-shadow: 0px 10px  5px rgba(0,0,0,0.6);
	top: 0;
	left: 0;
	z-index: 1000;
}

.changeColorWithBackground {
	color: #37d11d;
}
/* ====================================
 * NAV BAR:
 * ================================= */


#navbar
{
	z-index: 10;
	position: fixed;
	height: 35px;
	width: 100%;
	background-color: #333;
	color: #37d11d;
}

#navbar ul
{
	padding: 0;
	margin: 0;
}
#navbar li
{
	display: inline;
	float: left;
}

#navbar a
{
	display: inline-block;
	width: 100px;
	text-align: center;
	text-decoration: none;
	padding: 10px 0;
}

#navbar li:hover
{
	background-color: #444;
}

#navbar a.active
{
	background-color: #fff;
}

#navbar a.active:hover
{
	color: #333;
}
#navbar a#openup
{
	display: none;
}



.cf:before, .cf:after
{
	content: "";
	display: table;
}

.cf:after
{
	clear: both;
}

.cf
{
	zoom: 1;
}

a#RESUME {
	position: fixed;
	top: 2px;
	right: 15px;
	width: 100px;
       	height: 29.5px;
	padding: 5px 5px;
	border: solid 2px #37d11d;
	border-radius: 25px;
	cursor: pointer;
	z-index: 100;
}

a#RESUME:hover {
	position: fixed;
	padding: 5px 5px;
	border: solid 2px #fff;
	border-radius: 25px;
}

/* ====================================
 * tada Animation:
 * Designed by Louis LIN:
 * https://github.com/l-lin 
 * ================================= */

@-webkit-keyframes tada {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	10%,
	20% {
		-webkit-transform: scale(0.9) rotate(-8deg);
		transform: scale(0.9) rotate(-8deg);
	}
	30%,
	50%,
	70% {
		-webkit-transform: scale(1.3) rotate(8deg);
		transform: scale(1.3) rotate(8deg);
	}
	40%,
	60% {
		-webkit-transform: scale(1.3) rotate(-8deg);
		transform: scale(1.3) rotate(-8deg);
	}
	100%,
	80% {
		-webkit-transform: scale(1) rotate(0);
		transform: scale(1) rotate(0);
	}
}
@keyframes tada {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	10%,
	20% {
		-webkit-transform: scale(0.9) rotate(-8deg);
		transform: scale(0.9) rotate(-8deg);
	}
	30%,
	50%,
	70% {
		-webkit-transform: scale(1.3) rotate(8deg);
		transform: scale(1.3) rotate(8deg);
	}
	40%,
	60% {
		-webkit-transform: scale(1.3) rotate(-8deg);
		transform: scale(1.3) rotate(-8deg);
	}
	100%,
	80% {
		-webkit-transform: scale(1) rotate(0);
		transform: scale(1) rotate(0);
	}
}
.faa-parent.animated-hover:hover > .faa-tada,
.faa-tada.animated,
.faa-tada.animated-hover:hover {
	-webkit-animation: tada 2s linear infinite;
	animation: tada 2s linear infinite;
}
.faa-parent.animated-hover:hover > .faa-tada.faa-fast,
.faa-tada.animated-hover.faa-fast:hover,
.faa-tada.animated.faa-fast {
	-webkit-animation: tada 1s linear infinite;
	animation: tada 1s linear infinite;
}
.faa-parent.animated-hover:hover > .faa-tada.faa-slow,
.faa-tada.animated-hover.faa-slow:hover,
.faa-tada.animated.faa-slow {
	-webkit-animation: tada 3s linear infinite;
	animation: tada 3s linear infinite;
}
@media screen and (max-width: 480px) 
{

	#shortPresentation p
	{
		margin: 20px;
		max-width: 400px;
	}
	#navbar
	{
		height: auto;
		border-bottom: 0;
	}

	#navbar ul
	{
		display: none;
		height: auto;
	}

	#navbar li
	{
		width: 100%;
		float: left;
		position: relative;
	}

	#navbar a
	{
		text-align: left;
		width: 100%;
		text-indent: 25px;
		font-size: 2rem;
		border-bottom: 1px solid #555;
	}

	#navbar a:hover
	{
		background: #444;
	}

	#navbar a#openup:after
	{
		content: "|||";
		transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		/* IE 9 */
		-webkit-transform: rotate(-90deg);
		/* Safari and Chrome */
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 5px;
		top: 20px;
	}

	#navbar a#openup
	{
		display: block;
		width: 100%;
		position: relative;
	}
	a#RESUME {
		top: 5px;
		right: 40px;

	}

}

/* ====================================
 * SHOWCASE:
 * ================================= */

#Showcase
{
	display: grid;
	grid-template-rows:  25vh 200px auto;
	width: 100%;
	height: 100vh;
	text-align: center;
	background: #222222;
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
}

#shortPresentation
{
	grid-row-start: 2;
	grid-row-end: 3;
	z-index: 5;
}

#shortPresentation p
{
	margin: 20px;
}
.primary-btn
{
	background-color: #69e753;
	color: rgba(0, 0, 0, 0.88);
}

html,
body {
	background: #101010;
	width: 100%;
	height: 100vh;
	//  scroll-behavior: smooth;
}

.background-limits {
	grid-row-start:3;
	grid-row-end: 4;
}
/* maybe to erase */
#background {
	position: absolute;
	bottom: 0px;
	left: 0px;
}
/* =======*/

@-webkit-keyframes scroll-indicator {
	0% {
		-webkit-transform: translate3d(-50%, 0, 0);
		transform: translate3d(-50%, 0, 0);
	}
	50% {
		-webkit-transform: translate3d(-50%, -10px, 0);
		transform: translate3d(-50%, -10px, 0);
	}
	100% {
		-webkit-transform: translate3d(-50%, 0, 0);
		transform: translate3d(-50%, 0, 0);
	}
}

@keyframes scroll-indicator {
	0% {
		-webkit-transform: translate3d(-50%, 0, 0);
		transform: translate3d(-50%, 0, 0);
	}
	50% {
		-webkit-transform: translate3d(-50%, -10px, 0);
		transform: translate3d(-50%, -10px, 0);
	}
	100% {
		-webkit-transform: translate3d(-50%, 0, 0);
		transform: translate3d(-50%, 0, 0);
	}
}

.hero__scroll-indicator {
	position: absolute;
	bottom: 10px;
	left: 50%;
	-webkit-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
	-webkit-animation: scroll-indicator 1.5s infinite;
	animation: scroll-indicator 1.5s infinite;
	-webkit-transition: all cubic-bezier(0.8, 0.1, 0.27, 1);
	transition: all cubic-bezier(0.8, 0.1, 0.27, 1);
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	padding: 20px;
	z-index: 5;
	stroke: #333;
}

<<<<<<< HEAD
/* maybe to erase */
@media screen and (orientation:landscape) {
	#Showcase {
		grid-template-rows: 10vh 200px auto;
	}
}
/*	@media screen and (max-width: 500px), (max-width: 900px) and (orientation:landscape) {
*/
@media screen and (max-width: 500px) {
	.scroll-indicator {
		stroke: #fff;
	}
	.background-limits {
		background: url('./img/threeBackground.png') no-repeat;
		background-size: 100% 100%;
		background-position:  left 0px bottom 0px;
		z-index: 1;

	}
}
/* ====================================
 * PORTFOLIO:
 * ================================= */


#Portfolio
{
	min-height: 100vh;
	overflow: hidden;
}
.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure
{
	position: relative;
	overflow: hidden;
	margin: auto;
	min-width: 320px;
	max-width: 480px;
	min-height: 200px;
	background: #333;
	text-align: center;
	cursor: pointer;
	box-shadow: 0px 10px  15px rgba(0,0,0,0.6);
}

.grid figure img
{
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
	min-height: 200px;
}

.grid figure figcaption
{
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after
{
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#Portfolio .text-center
{
	padding-top: 5vh;
	color: #fff;
}
div.activate-pop-up {
	position: relative;
	transform: translate( -4%, -80%);
	display: inline-block;
	width: 100%;
	height: 100%;
	z-index: 50;
}
.grid figure figcaption > a
{
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2
{
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span
{
	font-weight: 800;
}

.grid figure h2
{
	margin: 0;
	color: black;
}

.grid figure p
{
	letter-spacing: 1px;
	font-size: 68.5%;
	margin: 0;
}

figure.effect-hover1 figcaption
{
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 3.75em;
	background: #fff;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-hover1 h2
{
	float: left;
}

figure.effect-hover1 p.description
{
	position: absolute;
	bottom: 6em;
	padding: 2em;
	color: #fff;
	text-transform: none;
	font-size: 90%;
	opacity: 0;
	-webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	-webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
}

figure i:hover
{
	color: #000;
}


figure.effect-hover1:hover p.description
{
	opacity: 1;
	font-weight: 1000;
	font-size: 18px;
}

figure.effect-hover1:hover figcaption,
figure.effect-hover1:hover h2,
figure.effect-hover1:hover p.icon-links a
{
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-hover1:hover h2
{
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-hover1:hover p.icon-links a:nth-child(3)
{
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-hover1:hover p.icon-links a:nth-child(2)
{
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-hover1:hover p.icon-links a:first-child
{
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
figcaption {
	position: relative;
	z-index: 5;
}
figcaption .icon-links
{
	position: relative;
	z-index: 100;
	padding: auto;
	margin: auto;
}

.icon-links a {
	position: relative;
	z-index: 100;
}
.icon-links a:focus {
	color: #37d11d;
}
#D3 figure {
	display: grid;
	align-content: center;
	height: 230px;
	margin-bottom: 5vh;
}

#d3LinkTile {
	position: absolute;
	top: 0;
	left: 0;
	width: 480px;
	height: 230px;
	z-index: 3;
}
#d3LinkPanel {
	position: absolute;
	top: 0;
	left: 0;
	width: 480px;
	height: 65px;
	z-index: 11;
}
@media screen and (max-width: 50em)
{
	.grid figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}

@media screen and (max-width: 500px) {
	#Portfolio figure figcaption {
		padding: 15px 5px;
	}
}

@media screen and (max-width: 990px) and (min-width: 800px),screen and (max-width: 430px)
{
	figure.effect-hover1 p.description
	{
		padding: 0;
	}
}

/* ====================================
 * POP-UP:
 * ================================= */

.wrap.blur {
	filter: blur(10px);
}
.invisibleDiv {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 100;
	opacity: 0.5;
	background: #000;
	transition: background 0s, opacity 0s:
}
.pop-up {
	visibility: hidden;
	opacity: 0;
	transition: all 0.7s;
}
.pop-up.open {
	visibility: visible;
	opacity: 1;
	transition: none;
}

.pop-up.open .pop-up-display {
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
}
.pop-up .pop-up-display {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.5);
	max-height: 700px;
	overflow-x: hidden;
	overflow-y: scroll;
	background: #333;
	border-radius: 2px;
	margin: 0;
	scrollbar-width: none;
	z-index: 150;
	opacity: 0;
	transition: all 0.7s;
}


.pop-up-display .popUpHeader {
	position: sticky;
	top: 0px;
	left: 0px;
	height: 60px;
	z-index: 155;
	background: rgba(105, 231, 83, 1);
	color: black;

}

.pop-up-display .popUpHeader h1 {
	color: black;

}
.pop-up-display .popUpHeader p {
	color: black;
}
.pop-up-display .popUpHeader p:hover {
	color: #333;
}
.col-md-6 {
	padding: 0px 50px 0px 50px;
}
@media (min-width:800px) and (max-width: 1200px) {
	.pop-up-display {
		width: 800px;
	}
	.col-md-6 {
		max-width: none;
		flex: none;
	}
}
@media screen and (max-width: 800px) {
	.pop-up-display {
		width: 95%;
		top: 300px;
		max-height: 400px;
	}
	
}
.pop-up-display img{
	width: 100%;
	padding-top: 15px;
}

.pop-up h1 {
	margin: 0;
	padding: 5px 15px;
}
.pop-up p {
	margin: 0;
}
.popUpHeader .return {
	position: absolute;
	top: 5px;
	right: 15px;
	color: white;
	font-size: 1em;
	font-weight: 800;
	padding: 0;
}
p.return:hover {
	color: #eee;
	cursor: pointer;
}
.pop-up h2 {
	color: white;
}
.pop-up li {
	color: #37d11d;;
}
/* ====================================
 * CONTACT FORM:
 * ================================= */

#Contact
{
	width: 100%;
	min-height: 100vh;
	background-image:linear-gradient(130deg, #37d11d, #120000);
	box-shadow: 0px 5px 5px black;
}

#Contact h2
{
	margin-top: 5vh;
	color: black;
}

.contact-form 
{
	margin-top: 30px;
}

.contact-form .input-block
{
	background-color: rgba(255, 255, 255, 0.8);
	border: solid 1px #37d11d;
	width: 100%;
	height: 60px;
	padding: 25px;
	position: relative;
	margin-bottom: 20px;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.contact-form .input-block.focus
{
	background-color: #fff;
	border: solid 1px #12b110;
}

.contact-form .input-block.textarea
{
	height: auto;
}

.contact-form .input-block.textarea .form-control
{
	height: auto;
	resize: none;
}

.contact-form .input-block label
{
	position: absolute;
	left: 25px;
	top: 25px;
	display: block;
	margin: 0;
	font-weight: 300;
	z-index: 1;
	color: #333;
	font-size: 18px;
	line-height: 10px;
}


.contact-form .input-block .form-control
{
	background-color: transparent;
	padding: 0;
	border: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	height: auto;
	position: relative;
	z-index: 2;
	font-size: 18px;
	color: #333;
}

.contact-form .input-block .form-control:focus label
{
	top: 0;
}

.contact-form .square-button
{
	background-color: rgba(255, 255, 255, 0.8);
	color: #12b110;
	font-size: 26px;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	padding: 0 60px;
	height: 60px;
	border: none;
	width: 100%;
}

.contact-form .square-button:hover, .contact-form .square-button:focus
{
	background-color: white;
}

@media (min-width: 768px)
{
	.contact-wrap
	{
		width: 60%;
		margin: auto;
	}
}

/*----page styles---*/

.contact-wrap
{
	padding: 15px;
}


/*==========================================================================
FOOTER
========================================================================== */

footer {
	background: #333;
	padding-top: 80px;
	box-shadow: inset 0px 5px 5px black;
}
footer .row {
	margin: 0;
	padding: 0;
}
footer .row li {
	padding-left: 0px;
}
footer h2 {
	font-size: 33px;
	font-weight: 300;
	color: #434343;
}
footer p {

	font-size: 14px;
	line-height: 26px;
}
footer a, footer i {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	text-decoration: none !important;
}
footer img:hover {
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
footer li:hover {
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
footer li {
	list-style: none;
}
footer a {
	text-decoration: none;
	color: #647382;
}
footer p {
	color: #b4b7ba;
	line-height: 24px;
}
footer p a {
	color: #b4b7ba;
}
footer .footer-main .block-menu li a {
	color: #b4b7ba;
	display: inline-block;
	width: 100%;
}
footer .footer-main .block-menu li a:hover {
	color: #fff;
}
footer .footer-main .block-menu li {
	border-bottom: 1px solid #3e464e;
	display: inline-block;
	width: 100%;
	line-height: 33px;
}
footer .footer-main .block-menu li:after {
	content: '\f105';
	font-family: "Font Awesome 5 Free";
	color: #b4b7ba;
	position: absolute;
	font-weight: 900;
	right: 0px;
}
footer .footer-main .block-menu li i {
	float: right;
	line-height: 33px;
}
footer .footer-main .block-menu li:nth-last-child(1) {
	border: none;
}
footer .link li:nth-last-child(1) {
	border: none;
}
footer h5,
footer h2 {
	font-weight: normal;
	font-size: 18px;
	margin-top: 0px;
	color: #fff;
}
footer h2:after {
	content: ' ';
	margin: 0px;
	margin-bottom: 20px;
	background: #647382;
	width: 35px;
	display: block;
	height: 2px;
	margin-top: 10px;
}
footer h5 span {
	color: #fff;
	font-weight: 200;
}
footer hr {
	margin: 0px;
	margin-bottom: 20px;
	background: #647382;
	width: 35px;
}
footer .rights {
	box-shadow: inset 0px 3px 3px black;
	background: #333;
	padding: 20px 0;
	margin-top: 30px;
}
footer .rights p {
	margin: 0px;
	line-height: 30px;
}
footer .rights .content p i:hover{
	color: #37d11d;
}
footer .spacing-for-mobile {
	word-spacing: 0.08em;
}
footer .social-icons {
	text-align: right;
	float: right;
}
footer .social-icons .menu li {
	display: inline-block;
}
footer .social-icons a {
	font-size: 0;
	height: 60px;
	width: 60px;
	line-height: 30px;
	margin-left: 10px;
	color: #b4b7ba;
}
footer .social-icons a:before {
	font-size: 25px;
	transition: all 0.5s ease-in-out;
}
footer .fa-linkedin:hover:before {
	color: #0072b2;
}
footer .fa-github:hover:before {
	color: #6a737d;
}
footer .links {
	position: relative;
}
footer .links li {
	position: relative;
}
footer .links a {
	padding-left: 15px;
	font-size: 16px;
	line-height: 30px;
	color: #a6a6a6;
}
footer .links a:hover {
	color: #fff;
}
footer .links a:before {
	display: inline-block;
	content: "\f105";
	font-family: 'FontAwesome';
	left: 0px;
	top: 0px;
	right: 0px;
	font-weight: normal;
	font-size: 14px;
	color: #fff;
	position: absolute;
}
